/.vscode/

# C/C++
/.ccls-cache/
/compile_commands.json

# Intellij
.idea
cmake-build-*/

## generic files to ignore ##
*~
*.lock
*.swp
*.out

# Folder view configuration files #
.DS_Store
Desktop.ini

# Thumbnail cache files #
._*
Thumbs.db
